<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classificação de Imagens</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Classificação de Imagens de Gatos e Cachorros</h1>
        <form action="/predict" method="post" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*" required>
            <button type="submit">Classificar</button>
        </form>
        {% if prediction %}
            <h2>Resultado da Classificação: {{ prediction }}</h2>
        {% endif %}
    </div>
</body>
</html>